body {
            margin: 0;
            padding: 0;
            height: 100vh;
            font-family: sans-serif;
            background-image: url("http://localhost/Projet1/Library-site-web2/ECEBI.PNG");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
        }

        .login-box {
            background-color: rgba(255, 255, 255, 0.80);
            margin: 50px;
            margin-left: 680px;
            margin-top : 200px;
            padding: 25px;
            width: 300px;
            border-radius: 10px;
            
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);

            
        }

        input {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 6px;
            box-sizing: border-box;
        }

        .login{
            background-color: #444;
            color: white;
            cursor: pointer;
        }

        .login:hover {
            background-color: #24d327;
        }

        .error {
            color: red;
            text-align: center;
            margin-top: 10px;
        }  

        .sub{
            width: 120px;
            text-align: center;
            margin-left: 85px;
            background-color: #444;
            color:white;
        }
        .sub:hover{
            background-color: #24d327;
        }